{
	margin:  0;
	padding: 0;
}

header, footer, aside, nav article {
	display: block;
}

body {
	margin: 0 auto;
	width: 75%;
	font: 13px/22px Helvetica, Arial Sans-serif;
	background: #f0f0f0;
}

.slogan {
	display: table-cell;	
	background: url("../images/logo.PNG") repeat-x;
	background-size: 100% 100%;	
	width: 15%;	
}


.superior {
    display: table;
	padding: 21px;
    width: 100%;
	background: white;
	border: 1px solid #d7d7d7;
	-webkit-border-radius: 0px;
    text-align:center; 
}


.registro ul li {
    float: left;
    list-style: none; 
}
    .registro ul li a {
       
    margin-left: 5px;    
    font-size: 15px;   
    text-decoration: none;

    }
    .registro ul li a:hover {
        color: #3ADF00;
    }

    .registro ul li.selected a { 
        color: #FF0000;
    }
.menu{
    width: 100%;
}
.menu ul li {
    float: left;
    list-style: none;
    width: 16.6%;
}
    .menu ul li a {
    display: block;    
    font-size: 14px;
    font-family:Grandesign;
    font-weight: bold;
    background-color: #BCF5A9;    
    text-align: center;
    text-decoration: none;  
    color: #777;
    border: 10px solid #f0f0f0;
    padding: 3%;
    -webkit-border-radius: 0px;
    }

    /*Le brinda a las propiedades de HOVER y
    Selected un color particular*/
    .menu ul li a:hover {
    color: #fff;
    }

    .menu ul li.selected a { 
    color: #fff;
    }

 .cuerpo{
    margin-top: 5%;
 }   
    .cuerpo p{
        font-size: 130%;
    }

    footer p {
    	text-align: center;
    	font-size: 12px;
        color:#3ADF00;
    	
    }

@font-face {
    font-family: "Grandesign";
    src: url("../font/Grandesign_Neue_Serif.eot") format("eot"),
         url("../font/Grandesign Neue Serif.woff") format("woff"),
         url("../font/Grandesign Neue Serif.ttf") format("truetype");
}
h1{
  font-family:Grandesign;
  color:#3ADF00;
  font-size:25px;
}

h2 {
  font-family:Grandesign;
  color:#3ADF00;
  font-size:40px;
}


