*{
	margin:  0;
	padding: 0;
}

body {
	
	background: #f0f0f0;
	font: 13px/22px Helvetica, Arial Sans-serif;
	float: right;
	width: 100%;
}
header
{
	width: 100%;
}
@font-face {
    font-family: "Grandesign";
    src: url("../font/Grandesign_Neue_Serif.eot") format("eot"),
         url("../font/Grandesign Neue Serif.woff") format("woff"),
         url("../font/Grandesign Neue Serif.ttf") format("truetype");
}
h3
{
  color: #989898;
}
h2
{
  color: #68DFF0;
  font-size: 18px;
}


/********************Menu superior (Iniciar Sesión)***(Registrarse)************************************************/
.registro{
	display:block;
	width:100%;
	height: 75px;
	background:#FFD777;
	
}
.registro ul{
	width: 100%;
	list-style: none;
}
 .registro  ul li{
     float: left;
     width: 20%;
     text-align: center;
     margin-top: 20px;
 }

.registro .inicio
{	color:#FFF;
	text-decoration:none;
	float: right;
	font-size:15px;
	background-color: #68DFF0; 
	border: 1px solid #64C3C2; 	
	border-radius: 3px;
	width: 50%;
}
  .registro .boton_menu { 
    color:#FFF;
    background: #FFD777;
    text-decoration:none;
    font-weight: bold;
    font-size:25px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
  }
	.registro .inicio:hover {
        background-color: #FFD777;
       border: 1px solid #666666;
       color: #666666;
    }
.boton{
	color: #ffffff;
    font-size: 16px;    
    line-height: 60px;  
    background: #ff865c;   
    width: 50%;
 }
 

   

/******************************Menu despeglable (Menu)***************************************************************/
.menu{
	width: 20%;
	height: 100%;
	left: 0;
	position: absolute;
 
	background: #424A5D;
	text-align: center;
	list-style: none;
}

.menu ul {
	
	list-style: none;
	text-align: justify;

}
.menu ul li {
	display:block;
	float:none;
	border-bottom:1px solid rgba(255,255,255, .3);
}
.menu ul li a {
	color:#AEB2B7;
	padding:20px;
	display:block;
	text-decoration:none;
}
#icon{
	margin-right:20%;
}
 
.menu  ul li a:hover {
	background:#037E8C;
}
.menu ul li ul {

        display:none ;
       
    }
     .menu ul li:hover > ul{
        display: block;
    }
 /***************************************(Imagen del logo)*************************************************************/   
 .log{
 	width: 200px;
    height: 130px;
 }
/************************************(cuerpo)*************************************************************************/
.cuerpo
{
   width: 73%;
	margin-left: 330px;
	margin-top: 10px;

}
/************************************(footer)*************************************************************************/
footer{
   
    margin-top: 100px;
    width: 100%;
    
    background-color: #68DFF0;
    color: #FFF;
    text-align: center;
}
/***************************************(Formulario)******************************************************************/
.formulario{
    text-align: center;
     width: 100%;
}
.formulario, .misApuestas ,.apuesta{
  border: 1px solid #CED5D7;
  border-radius: 6px;
  background-color: white;   
  padding: 21px;
  
}
    .formulario label{
        display: block;/*esto es para que el laber se sobreponga de la caja de text*/
        font-weight: bold;
    }
    .formulario div {
        margin-bottom: 3%; /* esto los separa un poco*/

    }
    .formulario input[type="text"], .formulario input[type="password"], .combo{
        padding: 7px 6px;
        width: 50%;
        border: 1px solid #CED5D7;
        box-shadow: 0 0 0 3px #EEF5F7;
        margin: 5px 0;
    }   
   

    

    .formulario  li {
    list-style: none; 
    }
    .formulario  li a {       
    margin-left: 5px;    
    font-size: 15px;   
    text-decoration: none;

    }
    .formulario  li a:hover {
        color: #3ADF00;
    }

    .formulario  li.selected a { 
        color: #FF0000;
    }
/***********************************(Tablas)*********************************************************************/
  .porPagar{
    
  border: 1px solid #CED5D7;
  border-radius: 6px;
  background-color: #f0f0f0;  
  width: 95%;
  padding: 21px;
  margin-bottom: 0px;

}
.tabla1{
 display: table;
 width: 100%;
 margin-top: 1%;
}
.selda1{
display: table-cell;  
width: 50%;  
}
.selda2{
display: table-cell;  
width: 50%;  
}
.acciones li{

    display: inline;
    float:none;
    list-style: none;
     text-decoration: none; 
     text-align: center;   
 }
table {    
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
width: 100%;
color: #989898;
}

td {  
padding: 8px;  
border-bottom: 1px solid #fff; 
 }
 /**********************************(Tabla de resultado)*****2 colores************************************************/
.tablaResultado {
     border: 2px solid #000;
     text-align: center;
     width: 80%;

 }
 .tablaResultado th {
    background-color: #BDBDBD; 
    font-family:Grandesign;
    font-size: 15px;
    color: #68DFF0;
    font-size: 18px;
}
 .tablaResultado  tr:nth-child(odd) {
    background-color: white;
}

 .tablaResultado  tr:nth-child(even) {
    background-color: #E6E6E6;
}
div.tablaResultado table {
margin: 0 auto;
text-align: left;
}
.admin{
    text-align: center;
}
.admin > ul > li{
     display: inline;   
     list-style: none;    
     text-align: center; 
     margin-left: 1%;
     font-size: 15px;
}