{
	margin:  0;
	padding: 0;
}

header, footer, aside, nav article {
	display: block;
}

body {
	margin: 0 auto;
	width: 75%;
	font: 13px/22px Helvetica, Arial Sans-serif;
	background: #f0f0f0;
}

.slogan {
	display: table-cell;	
	background: url("../images/logo.PNG") repeat-x;
	background-size: 100% 100%;	
	width: 15%;	
}


.superior {
    display: table;
	padding: 21px;
    width: 100%;
	background: white;
	border: 1px solid #d7d7d7;
	-webkit-border-radius: 0px;
    text-align:center; 
}

#empleado{
    float: right;
}
.registro ul li {
    float: left;
    list-style: none; 
}
    .registro ul li a {
       
    margin-left: 5px;    
    font-size: 15px;   
    text-decoration: none;

    }
    .registro ul li a:hover {
        color: #3ADF00;
    }

    .registro ul li.selected a { 
        color: #FF0000;
    }
.menu{
    width: 100%;
}
.menu ul{
    
    height: 50px;
}
.menu ul li {
   
    list-style: none;
    
}
    .menu > ul >li{
         float: left;
         width: 16.6%;
    }
    .menu ul li a {
    display: block;    
    font-size: 14px;
    font-family:Grandesign;
    font-weight: bold;
    background-color: #BCF5A9;    
    text-align: center;
    text-decoration: none;  
    color: #777;
    padding: 3%;
    -webkit-border-radius: 0px;
    }
    .menu > ul > li > a{
        border: 10px solid #f0f0f0;
    }

    /*Le brinda a las propiedades de HOVER y
    Selected un color particular*/
    .menu ul li a:hover {
    color: #fff;
    }

    .menu ul li.selected a { 
    color: #fff;
    }

    .menu ul li ul {

        display:none ;
        width: none;
        position: absolute;
        min-width: 140px;
    }
     .menu ul li:hover > ul{
        display: block;
    }

    
.cuerpoC{
    text-align: center;
}
 .cuerpo{
    margin-top: 5%;
 }   
    .cuerpo p{
        font-size: 130%;
    }

    footer p {
    	text-align: center;
    	font-size: 12px;
        color:#3ADF00;
    	
    }

@font-face {
    font-family: "Grandesign";
    src: url("../font/Grandesign_Neue_Serif.eot") format("eot"),
         url("../font/Grandesign Neue Serif.woff") format("woff"),
         url("../font/Grandesign Neue Serif.ttf") format("truetype");
}
h1{
  font-family:Grandesign;
  color:#3ADF00;
  font-size:25px;
}

h2 {
  font-family:Grandesign;
  color:#3ADF00;
  font-size:40px;
}
.formulario{
    text-align: center;
     width: 100%;
}
.formulario, .misApuestas ,.apuesta{
  border: 1px solid #CED5D7;
  border-radius: 6px;
  background-color: white;   
  padding: 21px;
  
}
    .formulario label{
        display: block;/*esto es para que el laber se spbreponga de la caja de text*/
        font-weight: bold;
    }
    .formulario div {
        margin-bottom: 3%; /* esto los separa un poco*/

    }
    .formulario input[type="text"], .formulario input[type="password"], .combo{
        padding: 7px 6px;
        width: 50%;
        border: 1px solid #CED5D7;
        box-shadow: 0 0 0 3px #EEF5F7;
        margin: 5px 0;
    }   
   

    .boton{
        border: 1px solid #CED5D7;        
        padding:  8px 16px;        
        font-weight: bold;
        text-shadow: 1px 1px 0px white;

        background: #BCF5A9; /* fallback para navegadores que no soporten degradados */
        background: -moz-linear-gradient(top, #BCF5A9 0%, #BCF5A9 100%);
        background: -webkit-linear-gradient(top, #BCF5A9 0%,#BCF5A9 100%);
    }

    .formulario  li {
    list-style: none; 
    }
    .formulario  li a {       
    margin-left: 5px;    
    font-size: 15px;   
    text-decoration: none;

    }
    .formulario  li a:hover {
        color: #3ADF00;
    }

    .formulario  li.selected a { 
        color: #FF0000;
    }

.combo option, .combo{
    font-weight: bold;
}
.porPagar{
    
  border: 1px solid #CED5D7;
  border-radius: 6px;
  background-color: #f0f0f0;  
  width: 95%;
  padding: 21px;
  margin-bottom: 0px;

}
.tabla1{
 display: table;
 width: 100%;
 margin-top: 1%;
}
.selda1{
display: table-cell;  
width: 50%;  
}
.selda2{
display: table-cell;  
width: 1%;  
}
table {    
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
width: 100%;
border-collapse: collapse; 
}

td {  
padding: 8px;  
border-bottom: 1px solid #fff; 
 }

 .acciones li{

    display: inline;
    float:none;
    list-style: none;
     text-decoration: none; 
     text-align: center;   
 }


